product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photo\s/Photo\s.apk
product/app/Gmail2/Gmail2.apk
boot.img
\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
\sy\stem_ext/apex/com.android.vndk.v30.apex
mi_ext/product/priv-app/Me\s\sage\s_arm64_xxhdpi/Me\s\sage\s_arm64_xxhdpi.apk
mi_ext/product/priv-app/MIBrow\serGlobal_builtin_before_2021/MIBrow\serGlobal_builtin_before_2021.apk
modem.img
